1. Counting Down from 10 to 1
- Write a while loop that counts down from 10 to 1 and prints "Liftoff!" after the countdown.

2. Calculating the Sum of First N Natural Numbers
- Using a while loop, calculate and print the sum of the first N natural numbers, where N is a given positive integer.

3. Finding the Factorial of a Number
- Write a while loop to find the factorial of a given positive integer and print the result.

4. Guessing Game: Finding a Secret Number
- Implement a while loop for a guessing game where the user has to guess a secret number between 1 and 10. Provide feedback if the guess is too high or too low, and end the loop when the correct number is guessed.

In [1]:
count_down=10
while count_down>0:
    print(count_down)
    count_down-=1
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [2]:
# Get the input number from the user
n = int(input("Enter a natural number: "))
numbers= 0
i = 1

while i <= n:
    numbers+= i
    i += 1
print("The sum of the natural numbers", n, "is:", numbers)

Enter a natural number: 6
The sum of the natural numbers 6 is: 21

In [4]:
# Input: A positive integer
num = int(input("Enter a positive integer: "))

result = 1
i = num
while i > 0:
    result *= i
    i -= 1

print("The factorial of", num, 'is:', result)

Enter a positive integer: 5
The factorial of 5 is: 120

In [5]:
#Example 1:
def greeting(name):
    print('Hello ' + name +'!')
greeting('Segun')

Hello Segun!

In [6]:
greeting("Akin")

Hello Akin!

In [8]:
def add_numbers(num1,num2):
    print(num1+num2)
add_numbers(10, 20)

30

In [9]:
add_numbers(50, 50)

100

In [13]:
def sub_num(num1, num2):
    print(num1-num2)
sub_num(60, 35)

25

In [10]:
#create a function to add numbers 
def adding_num(numm1, numm2):
    add_num = numm1 + numm2
    return add_num
adding_num(22, 33)

55

In [11]:
def subtract_num(num1, num2):
    sub_num= num1-num2
    return sub_num
subtract_num(100, 40)

60

In [14]:
def multiply_num(num1, num2):
    mult_num= num1*num2
    return mult_num
multiply_num(46, 67)

3082

In [15]:
def square(n):
    sq= n*n
    return sq
square(20)

400

In [23]:
def function(country= "Norway"):
 print("I am from " + country)
function('Sweden')
function()

I am from Sweden
I am from Norway

In [45]:
def even_num(*nums):
    even= [] #An empty list even is initialized to store the even numbers.
    for num in nums: #The function iterates over each number in nums.
        if num % 2 == 0: #For each number, it checks if the number is even
            even.append(num)  #f the number is even, it appends the number to the even list.
    return even
result=even_num(1,2,3,4,5,6,7,8,9,10)
print(result)

[2, 4, 6, 8, 10]

In [49]:
even= []
for num in range(1, 40):
    if num % 2 == 0:
        even.append(num)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [56]:
def odd_num(*nums):
    odd=[]
    for num in nums:
        if num%2 !=0:
            odd.append(num)
    return odd
odd_num(1,2,3,4,5,6,7,8,9,10)

[1, 3, 5, 7, 9]

In [57]:
odd_num(21,22,23,24,25,26,27,28, 29, 30)

[21, 23, 25, 27, 29]

In [68]:
#create a function that will multiply all the numbers in a list together and return the value
def multiplication_nums(*nums):
    product = 1
    for num in nums:
        product *= num
    return product
multiplication_nums(1,3,5,7)

105

In [72]:
def square_root(nums):
    square_r= nums**0.5
    return square_r
square_root(81)

9.0

In [78]:
odd= []

for num in range(1,50):
    if num%2 !=0:
        odd.append(num)        
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [86]:
def function(fname, lname):
    print ("The youngest child is"+ fname)
function(" Segun", "lamide")

The youngest child is Segun

In [91]:
def function(*kid):
    print("His name is "+ kid[2])
function("Tola", "Sola", "Deola")

His name is Deola

In [93]:
def function(**kid):
    print("His name is " + kid['lname'])
function(fname="Tolu", lname="Folu")

His name is Folu

In [95]:
you=[]
for num in range(1,20):
    if num>=4:
        you.append(num)
print(you)

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]